<configuration debug="true">

    <appender name="DEFAULT" class="ch.qos.logback.core.FileAppender">
        <file>logs/default.log</file>
        <encoder>
            <pattern>%date %level [%class{0}] - %message %n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/42.log</file>
        <encoder>
            <pattern>%date [%class{0}] - %message %n</pattern>
        </encoder>
    </appender>
    <appender name="CONFIGURABLE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_FILE}</file>
        <encoder>
            <pattern>%date %level ** %class{0} ** - %message %n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="DEFAULT" />
    </root>

    <logger name="ericminio.demo.logging" level="debug" additivity="false">
        <appender-ref ref="DEFAULT" />
    </logger>
    <logger name="ericminio.demo.logging.XmlConfigurationTest" level="debug" additivity="false">
        <appender-ref ref="FILE" />
    </logger>
    <logger name="ericminio.demo.logging.JavaConfigurationTest" level="debug" additivity="false">
        <appender-ref ref="CONFIGURABLE" />
    </logger>
</configuration>